.blockHeader {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 0px 37px;
  font-weight: bold;
  font-size: 14px;
  color: #545454;
  height: 54px;
  background-color: #E5E7EB;
}

.headerNumber {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerDescription {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 38px;
}

.headerRep {
  display: flex;
  align-items: center;
  justify-content: center;
}
